.cart-container {
    position: relative;
    display: inline-block;
    margin-right: 200px;
}

.cart-badge {
    position: absolute;
    bottom: -5px;
    right: -10px;
    background-color:cornflowerblue;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 1;
    min-width: 18px;
    text-align: center;
}

.border{
    display: inline-flex;
    align-items: center;
    background-image: url('https://orgfarm-1e56e6150f-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Jpg&versionId=068g5000000fRQr&operationContext=CHATTER&contentId=05Tg5000000xsO8'); 
    border: none;
    padding: 20px 20px;
    margin-left: 0px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
    width: auto;
}

.custom-style{
    font-size:50px;
    font-family:Georgia;
    font-weight:bold;
    margin-right: 50px;
    margin-left: 100px;
}

.custom-search {
    width: 800px;
    margin-right: 20px;
    background-color:cornflowerblue;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-style: italic;
}
